/* Global Reseter */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.4;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ---------------------------------------- */
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
  --ff-base: Figtree;
  --fw-reg: 500;
  --fw-bold: 800;
}
body {
  font-family: var(--ff-base);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  font-size: 1rem;
  background-color: var(--Yellow);
}
main {
  flex: 1;
  display: grid;
  place-items: center;
  color: var(--Gray-950);
}
article {
  width: 20.4375rem;
  background-color: var(--White);
  border-radius: 1.25rem;
  padding: 1.5rem;
  position: relative;
  box-shadow: 7px 7px 0 0 var(--Gray-950);
}

article > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
article > picture img {
  border-radius: 0.625rem;
  margin-inline: auto;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
p {
  font-size: 0.875rem;
  color: var(--Gray-500);
}
.category {
  background-color: var(--Yellow);
  font-weight: var(--fw-bold);
  padding: 0.33rem 0.75rem;
  display: block;
  width: fit-content;
  color: var(--Gray-950);
  border-radius: 0.25rem;
}
.date {
  font-size: 0.75rem;
  color: var(--Gray-950);
}
h2 {
  font-size: 1.25rem;
  transition: 0.25s;
  cursor: pointer;
}
h2:hover {
  color: var(--Yellow);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
figure {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
figure img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
figcaption {
  font-weight: var(--fw-bold);
}
@media (min-width:768px ) {
  article {
    max-width: 24rem;
    width: 100%;
  }
}