:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
  --ff-base: "Montserrat", sans-serif;
  --ff-sp: "Fraunces", serif;
  --fw-bold: 700;
  --fw-regular: 500;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-base);
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
main {
  flex: 1;
  display: grid;
  place-items: center;
}
.card {
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--White);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
}
.card__content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card__catego {
  margin-left: -0.5rem;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}
.card p {
  color: var(--Grey);
}
.card h1 {
  font-family: var(--ff-sp);
  font-size: 2rem;
  line-height: 1;
}
.flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.product__price {
  color: var(--Green-500);
  font-size: 2rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-sp);
}
.product__original__price {
  color: var(--Grey);
}
.btn {
  font-weight: var(--fw-bold);
  background-color: var(--Green-500);
  border-radius: 0.5rem;
  border: 0;
  color: var(--White);
  padding: 0.75rem 1.5rem;
  font-size: 0.925rem;
  gap: 0.725rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
}
.btn::before {
  content: "";
  width: 0.925rem;
  height: 0.925rem;
  display: block;
  background-size: cover;
  background-image: url(./images/icon-cart.svg);
}
@media (min-width: 600px) {
  .card {
    flex-direction: row;
  }
  .card__picture {
    object-fit: cover;
    height: 100%;
  }
  .card > * {
    width: 50%;
  }
  .card__content {
    justify-content: space-around;
  }
}
