:root {
  /* Neutral */
  --neutral-0: hsl(200, 60%, 99%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-900: hsl(227, 75%, 14%);

  /* Red Scale */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  --logo: url(../assets/images/logo-dark-mode.svg);
}
body {
  --color-bg: var(--neutral-0);
  --color-surface: var(--neutral-100);
  --color-border: var(--neutral-200);

  --color-text-primary: var(--neutral-900);
  --color-text-secondary: var(--neutral-600);

  --color-accent: var(--red-500);
  --color-accent-hover: var(--red-700);

  --gradient-bg: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --ff-base: "noto sans";
  --fw-reg: 400;
  --fw-meduim: 500;
  --fw-bold: 700;
}

body.dark-mode {
  --color-bg: var(--neutral-900);
  --color-surface: var(--neutral-800);
  --color-border: var(--neutral-700);

  --color-text-primary: var(--neutral-0);
  --color-text-secondary: var(--neutral-300);

  --color-accent: var(--red-400);
  --color-accent-hover: var(--red-500);

  --gradient-bg: linear-gradient(180deg, #040918 0%, #091540 100%);
}

@font-face {
  font-family: "noto sans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body.dark-mode {
  --logo: url(../assets/images/logo-dark-mode.svg);
}
body picture {
  background-image: var(--logo);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8.125rem;
  height: 1.825rem;
}

body {
  font-size: 1rem;
  font-family: var(--ff-base);
  display: flex;
  min-height: 100vh;
  padding: 1rem;
  flex-direction: column;
  background: var(--gradient-bg);
  color: var(--neutral-0);
}
main {
  flex: 1;
  display: grid;
  place-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}
.attribution a {
  color: hsl(228, 57%, 72%);
}
