@font-face {
  font-family: "noto sans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --neutral-0: hsl(227, 75%, 14%);
  --neutral-100: #212636;
  --neutral-200: hsl(225, 23%, 24%);
  --neutral-300: hsl(226, 11%, 37%);
  --neutral-600: hsl(0, 0%, 78%);
  --neutral-700: hsl(217, 61%, 90%);
  --neutral-800: #ededed;
  --neutral-850: #fafcff;
  --neutral-900: hsl(200, 60%, 99%);
  --hover-color: #f6fafc;
  --red-700: #f25c54;
  --red-500: hsl(3, 71%, 56%);
  --red-400: hsl(3, 77%, 44%);
  --gradient-bg: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --logo: url(../assets/images/logo.svg);

  --ff-base: "noto sans";
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
[data-theme="dark"] {
  /* Neutral */
  --neutral-900: #09153e;
  --neutral-850: #202435;
  --neutral-800: #212636;

  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  --hover-color: #585b67;
  /* Red */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);

  /* Gradients */
  --gradient-bg: linear-gradient(180deg, #040918 0%, #091540 100%);
  --logo: url(../assets/images/logo-dark-mode.svg);
}
.switch img {
  cursor: pointer;
}
.switch img:nth-of-type(1) {
  display: none;
}
[data-theme="dark"] .switch img:nth-of-type(2) {
  display: none;
}
[data-theme="dark"] .switch img:nth-of-type(1) {
  display: block;
}

menu {
  padding: 0;
}
li {
  list-style: none;
}

body {
  font-size: 1rem;
  font-family: var(--ff-base);
  display: flex;
  min-height: 100vh;
  padding: 2rem 0.5rem;
  flex-direction: column;
  background: var(--gradient-bg);
  color: var(--neutral-0);
  align-items: center;
  color: var(--neutral-0);
}
body picture {
  background-image: var(--logo);
  background-size: cover;
  background-repeat: no-repeat;
  width: 8.125rem;
  height: 1.825rem;
}
main {
  flex: 1;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  place-items: center;
}
.flex-group,
#extensions,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
}

header {
  background-color: var(--neutral-850);
  border-radius: 0.75rem;
  box-shadow: 0 0 0px 2px
    color-mix(in srgb, var(--neutral-600) 10%, transparent);
}
.flex-group {
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  text-wrap: nowrap;
}
menu {
  display: flex;
  gap: 8px;
}
menu li {
  padding: 0.5rem 1.3rem;
  background-color: var(--neutral-850);
  box-shadow: 0 0 0px 2px
    color-mix(in srgb, var(--neutral-600) 10%, transparent);
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  font-weight: var(--fw-medium);
}
menu li:hover {
  color: var(--neutral-200);
  background-color: var(--hover-color);
}
#extensions {
  flex-direction: column;
}
menu li.active {
  background-color: var(--red-400);
  color: var(--neutral-900);
}
.extension {
  background-color: var(--neutral-850);
  box-shadow: 0 0 0px 2px
    color-mix(in srgb, var(--neutral-600) 10%, transparent);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.extension h2 {
  font-size: 1rem;
  font-weight: var(--fw-bold);
}
.extension p {
  font-weight: var(--fw-regular);
  color: color-mix(in srgb, var(--neutral-300) 70%, var(--neutral-900) 30%);
  line-height: 1.3;
}
.extension button {
  border-radius: 1rem;
  background-color: transparent;
  border: 2px solid var(--neutral-700);
  padding: 0.25rem 1.2rem;
  cursor: pointer;
  color: var(--neutral-0);
}
.toggle {
  padding: 0;
  display: flex;
  background-color: var(--neutral-600);
  border-radius: 1rem;
  position: relative;
  transition: background-color 0.4s ease-in;
  --x-padding: 2px;
  --x-position: 2px;
  color: var(--neutral-800);
}
.toggle::before {
  content: "";
  position: absolute;
  left: var(--x-position);
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% - var(--x-padding) * 2);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: currentColor;
  transition: 0.4s;
}
.toggle.active {
  background-color: var(--red-400);
  --x-position: 50%;
}
.toggle li {
  width: 1.3rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}
#extensions {
  flex: 1;
  justify-content: flex-start;
}
#extensions .flex-group {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 0.75rem 1rem;
}
#extensions .flex-group.flex {
  align-items: center;
}
@media (min-width: 768px) {
  main {
    width: 80%;
  }
  .flex-group {
    flex-direction: row;
  }
  #extensions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    align-content: flex-start;
  }
  #extensions > * {
    height: 100%;
    max-height: 200px;
  }
}
@media (prefers-color-scheme: dark) {
  body:not([data-theme="white"]) {
    --neutral-900: #09153e;
    --neutral-850: #202435;
    --neutral-800: #212636;

    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: hsl(200, 60%, 99%);
    --hover-color: #585b67;
    /* Red */
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradients */
    --gradient-bg: linear-gradient(180deg, #040918 0%, #091540 100%);
    --logo: url(../assets/images/logo-dark-mode.svg);
    .switch img:nth-of-type(2) {
      display: none;
    }
    .switch img:nth-of-type(1) {
      display: block;
    }
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--neutral-0);
}
.attribution a {
  color: hsl(228, 57%, 72%);
}
