/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* *************************** */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);
  /* ## Gradients */
  --Light-slate-blue: #7857ff;
  --Light-royal-blue: #2e2be9;
  --Violet-blue: #4e21ca;
  --Persian-blue: #2421ca00;
  /* -------------- */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
  --ff-base: "Hanken Grotesk";
  --fw-regular: 500;
  --fw-meduim: 700;
  --fw-bold: 800;
}
body {
  background-color: 1.125rem;
  font-family: var(--ff-base);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--Pale-blue);
  color: var(--Dark-gray-blue);
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
article.card {
  width: 20rem;
  background-color: var(--White);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.card-header {
  text-align: center;
  color: var(--White);
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
  border-radius: 2rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}
.card-header h3,
.card-header p {
  color: var(--Light-lavender);
}
.card-header h3 {
  font-weight: var(--fw-bold);
}
.result {
  aspect-ratio: 1 / 1;
  display: grid;
  margin: 1.5rem auto;
  background: linear-gradient(
    to bottom,
    var(--Violet-blue),
    var(--Persian-blue)
  );
  border-radius: 50%;
  padding: 1.5rem;
  gap: 0.5rem;
}
.result span {
  font-size: 3rem;
  font-weight: var(--fw-bold);
  display: block;
}
.card-header h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.card-header p {
  font-size: 14px;
  font-weight: var(--fw-regular);
}
.info {
  padding: 1.5rem;
  background-color: var(--White);
  border-radius: 2rem;
}
.info h2 {
  font-size: 1rem;
  font-weight: var(--fw-meduim);
}
.info ul {
  padding: 0;
}
.info li {
  list-style: none;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: var(--fw-regular);
  background-color: color-mix(in srgb, currentcolor 8%, white 100%);
  width: 100%;
}
.info li .score {
  color: color-mix(in srgb, var(--Dark-gray-blue) 60%, white 100%);
  
}
.info li .score span {
  font-weight: var(--fw-bold);
  color: var(--Dark-gray-blue);
}
.info li:nth-of-type(1) {
  color: var(--Light-red);
}
.info li:nth-of-type(2) {
  color: var(--Orangey-yellow);
}
.info li:nth-of-type(3) {
  color: var(--Green-teal);
}
.info li:nth-of-type(4) {
  color: var(--Cobalt-blue);
}
.info li span {
    display: flex;
    gap: 4px;
    align-items: center;
}
.info button {
  width: 100%;
  padding: 0.75rem 1.25rem;
  border: 0;
  border-radius: 3rem;
  background: linear-gradient(
    to right,
    var(--Light-slate-blue),
    var(--Light-royal-blue),
    var(--Dark-gray-blue) 60%
  );
  background-size: 300%;
  background-position: right center;
  transition: 0.5s;
  color: var(--White);
  margin-top: 1rem;
  cursor: pointer;
}
.info button:hover {
  background-position: left center;
}
@media (min-width: 768px) {
  article.card {
    width: fit-content;
    flex-direction: row;
  }
  article.card > * {
    width: 16rem;
  }
  article.card .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 73%, 41%);
}
